@keyframes loader-opacity{
    0% {
        opacity:0.9 ;
    }
    90%{
        opacity:0.9;
    }
    100% {
        opacity: 0;
        display:none;
        visibility: hidden;
    }
}
@keyframes zoomCube {
    0% { 
        transform: scale(1.15);
    }
    100% { 
        transform: scale(1);
    }
}


.loadingSpinner{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 10001;
    background: $tertiary-color;
    animation:  3s loader-opacity forwards;
}

.loadingSpinner__line div {
    display: flex;
    justify-content:center;
    font-family: Shrikhand;
    font-size: 285%;
    align-items:center;
    width: 80px;
    height: 80px;
    background: $primary-color;
    animation: zoomCube 1s cubic-bezier(0,0.5,0.5,1) 4;
    animation-delay: 0s;
    border-radius: 50px;
}
.loadingSpinner__line div:nth-child(2) {
    background:lighten($primary-color,5%);
    animation-delay: 0.1s;
}
.loadingSpinner__line div:nth-child(3) {
    background: lighten($primary-color,10%);
    animation-delay: 0.2s;
}
.loadingSpinner__line div:nth-child(4) {
    background: lighten($primary-color,15%);
    animation-delay: 0.3s;
}

.loadingSpinner__line {
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0;
    display: flex;
    justify-content: center;
    top:50%;
}
  