footer{
    background-color:#353535 ;
    padding-bottom: 3rem;
    .wrapper{
        margin:0 2rem; 
        color:white;
        .responsiveDisplay{
            display:flex;
            flex-direction: column;
        }
        a{
            color:white;
        }
        h4{
            margin: 2rem 0;
            font-size: 1.1rem;
            font-weight: lighter;
        }
        div{
            margin-bottom: 0.5rem;
        }
        a div:nth-child(1),div:nth-child(2){
            display:flex;
            i{
                min-width: 1.5rem;
                margin-right: 0.5rem;
            }
        }
        
    }

}

@media screen and (min-width: 960px){
    footer{
        padding-bottom: 0;
        .wrapper{
            h4{
                display: flex;
                margin:0.5rem 0;
                justify-content: center;
            }
            .responsiveDisplay{
                flex-direction: row;
                justify-content: space-between;
                background:#353535;
            }
        }
    }
}