footer{
    background-color:#353535 ;
    padding-bottom: 3rem;
    .wrapper{
        margin:0 2rem; 
        color:white;
        a{
            color:white;
        }
        h4{
            margin: 2rem 0;
            font-size: 1.1rem;
            font-weight: lighter;
        }
        div{
            margin-bottom: 0.5rem;
        }
        a div:nth-child(1),div:nth-child(2){
            display:flex;
            i{
                min-width: 1.5rem;
                margin-right: 0.5rem;
            }
        }
        
    }

}