.searcher{
    width:100%;
    display:flex;
    justify-content: center;
    background-color: #eaeaea;
    padding: 0.5rem 0;
    box-shadow: inset 0px 2px 5px 1px $tertiary-color;
    #search{
        background-color: #eaeaea;
        border: none;
        padding-left:1rem;
        &:focus{
            outline: 0;
        }
        
    }
}
