.searcher{
    width:100%;
    display:flex;
    justify-content: center;
    background-color: $tertiary-color;
    padding: 0.5rem;
    #search{
        background-color: $tertiary-color;
        border: none;
        padding-left:1rem;
    }
}