*{
    margin: 0;
}

body{
    font-family: Roboto;
    h1,h4{
        font-family:'Shrikhand', cursive;
    }
}

a{
    text-decoration: none;
    color:black;
}

.wrapper{
    display:flex;
    flex-direction: column;
    h2{
        margin: 3rem 0 0 1.2rem;
    }
}

.coloredBack{
    background-color: #f6f6f6;
}
