@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
@import "./utils/extensions";
@import "./base/base";
@import "./base/typography";
@import "./components/buttons";
@import "./layouts/header";
@import "./layouts/nav";
@import "./layouts/container";
@import "./layouts/form";

body{
    max-width: 1600px;
    margin: 0 auto;
}

h1,h4{
    font-family: 'Shrikhand', cursive;
}