header{
    display:flex;
    flex-direction: column;
    justify-content: center;
    position:relative;
    a{
        position: absolute;
        top:2rem;
        left:1rem;
    }
}

main{
    background-color: #f6f6f6;
}


.restaurant-title{
    display:flex;
    justify-content: space-between;
    position: relative;
    border-radius: 25px 25px 0 0;
    border: 1px solid #f6f6f6;
    background-color: #f6f6f6 ;
    padding-top: 1rem;
    margin-top: -3rem;
    h1{
        margin: 1rem;
        font-size: 1.7rem;
    }
    i{
        @include heart-i;

    }
}

.dish{
    margin: 1rem;
    h2{
        font-weight: 300;
    }
    .underline{
        width: 14%;
        border: 1.5px solid $tertiary-color;
        margin: 0.3rem 0;
    }
    .recipe{
        display:flex;
        justify-content: space-between;
        margin-top:1rem;
        background-color: white;
        border-radius: 15px;
        box-shadow: 2px 2px 5px 1px $tertiary-color;
        &__details{
            padding:0.5rem;
            p{
                margin: 0.4rem 0 0 0;
                overflow: hidden;
                text-overflow: ellipsis; 
                width:13rem;
                white-space: nowrap;
            }
        }
        &__price{
            padding:0.5rem;
            align-items: flex-end;
            display: flex;
        }
        &:hover{
            cursor: pointer;
            .fa-check-circle{
                display: flex;
            }
        }
    }
}

.purple-button{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    a{
        background: linear-gradient($secondary-color,$primary-color);
        color:#fff;
        border-radius: 2rem;
        padding: 1rem;
        margin-bottom: 2rem;
        box-shadow: 2px 2px 5px 1px $tertiary-color;
        display:flex;
        justify-content: center;
        width:40%;
        &:hover{
            background: linear-gradient($light-secondary-color,$light-primary-color);
            box-shadow: 2px 2px 5px 2px $tertiary-color;
        }
    }
    
}



